<!DOCTYPE html>
<html>
  <head>
    <title>RailsVueApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <% if content_for? :head %>
      <%= yield :head %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
